[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
jupyter = "*"
requests = "*"
pandas = "*"
boto3 = "*"
awswrangler = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.6"
